<div class="card">
    <img [src]="miPorfolio.banner" class="card-img-top" alt="ERROR">
    <img [src]="miPorfolio.foto" alt="ERROR">
    <div class="card-body">
      <h5 class="card-title">{{miPorfolio.nombre}}</h5>
      <p class="card-text">{{miPorfolio.profesion}}</p>
      <p class="card-text">{{miPorfolio.localidad}}</p>
      <p class="card-text"><small class="text-muted">Información de contacto</small></p>
      <div class="container">
        <app-boton></app-boton>
      </div>

    </div>
  </div>
